.container {
    box-sizing: border-box;
    border: 2px solid black;
    margin: 20px;
    padding: 30px 10px 20px 30px;
    outline: 2px solid red;
    background-color: bisque;
    border-radius: 60px;
}

#titulo {
    background-color: blueviolet;
    color: aliceblue;
    padding: 10px;
}

p {
    background-color: aqua;
    color: #a35f3d;
    height: 50px;
    width: 100px;
    padding: 50px 20px;
    border-radius: 10px 50px;
}