html {
    font-family: Helvetica;
    background-color: #ddd;
}

.container {
    max-width: 80vw;
    background-color: aliceblue;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/* Cabeçalho */

.header {
    text-align: center;
}

.main-title {
    font-size: 40px;
}

.main-paragraph {
    font-style: italic;
}

/* Imagem destaque  */

.featured-image {
    text-align: center;
    margin-top: 30px;
}

/* Como as imagens estão grandes, imagens no geral */
img {
    max-width: 70vw;
}

/* Biografia */

.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

/* Quote */

.quotes-container {
    background-color: #ddd;
    padding: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
}


/* Curiosidades */

.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
    height: 30px;
}


/* Segunda imagem - imagem bold */

.img-bold {
    font-weight: bold;
    text-align: center;
}