/* 6 - external css */
body {
    margin: 20px;
}

h3 {
    color: green;
}

/* 7 - ordem do css */
/* sobrescreveu o internal já existente */
p {
    color: brown;
}

/* 9 - comentário */
/* Comentário (sim, hilário, já tava comentando há um tempão) */

/* 11 - classes */
.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* 12 - ids */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* 13 - ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px blue solid;
}

#outro-titulo {
    border-bottom: 4px solid green;
}

/* 15 - nomes de cores */
.color-name {
    color: cornflowerblue;
}

/* 16 - hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #F26FFF;
}

/* 17 - mais hex */
.simple-hex {
    color: #333;
}

.simple-hex2 {
    color: #a5f; 
}

/* 18 - rgb */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(50, 100, 150);
}

/* 19 - rgba */
.rgba {
    color: rgba(200, 199, 45, 0.7);
}

.rgba2 {
    color: rgba(0, 0, 0, 0.3);
}

/* 20 - hsl */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl2 {
    color: hsl(100, 20%, 25%);
}

/* 21 - background-color */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* 22 - opacity no background */
.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

/* 23 - rgba com opacidade */
.rgba-opacidade {
    background-color: rgba(90, 120, 20, 0.2);
}

/* 24 - background image */
.bg-image {
    background-image: url("../assets/glaedr_oromis.jpg");
    padding: 10px;
    color: purple;
}

/* 25 - centralizando imagem no background */
.not-centered-bg, .centerd-bg {
    height: 400px;
    width: 400px;
    background-image: url("../assets/glaedr_oromis.jpg");
}

.centerd-bg {
    background-position: center;
    background-size: cover;
}

/* 26 - box-model */

    /* 27 - altura e largura */
    .height-width {
        height: 200px;
        width: 100px;
        background-color: red;
    }

    .height-width-2 {
        height: 300px;
        background-color: #333;
    }

    /* 28 - padding */
    .without-padding, .padding {
        background-color: #111;
        color: #fff;
    }

    .padding {
        padding: 20px;
        background-color: #333;
    }

        /* 29 - padding individual */
        .padding-individual {
            background-color: #000;
            color: #fff;
            padding-top: 5px;
            padding-left: 10px;
            padding-right: 20px;
            padding-bottom: 40px;
        }

        /* 30 - shorthand padding */
        .shorthand-padding {
            background-color: #444;
            padding: 6px 12px 18px 24px;
        }

        .shorthand-padding-2 {
            background-color: #555;
            padding: 10px 20px;

            /* cima-baixo e direita-esquerda, também poderia ter apenas um valor para os quatro lados */
        }

        /* 31 - padding com width */
        .without-border-box {
            background-color: #444;
            color: #fff;
            width: 400px;
            padding: 50px;
        }

        .border-box {
            background-color: #444;
            color: #fff;
            width: 400px;
            padding: 50px;
            box-sizing: border-box;
        }

    /* 32 - borda */
    .border {
        border: 5px solid red;
        padding: 10px;
    }

    .border-2 {
        border: 2px dotted #931;
        padding: 25px;
    }

        /* 33 - bordas individuais */
        .border-left {
            border-left: 3px solid red;
            padding: 25px;
        }

        .border-bottom {
            border-bottom: 5px double #399;
            padding: 20px;
        }

        /* 34 - bordas arredondadas */
        .rounded-p {
            border: 4px solid blue;
            background-color: #000;
            color: paleturquoise;
            padding: 15px;
            border-radius: 15px;
        }

        .rounded-p-2 {
            background-color: #000;
            color: paleturquoise;
            padding: 15px;
            border-radius: 25px;
        }

    /* 35 - margem */
    .margem {
        margin: 10px;
        background-color: #ccc;
    }

    .margem-top {
        margin-top: 50px;
        background-color: #555;
        padding: 10px;
    }

    .margem-shorthand {
        background-color: #aaa;
        margin: 5px 10px 15px 20px;
    }

    /* 36 - elementos box-model juntos */
    .box-model {
        margin: 20px;
        padding: 15px 25px;
        border: 3px solid #845;
        border-radius: 7px;
        width: 200px;
        height: 400px;
    }

/* 37 - alinhamento de texto */
.text-aligned {
    text-align: right;
}

.container-center {
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* 38 - text decoration */
.underline {
    text-decoration: underline;
}

.line-through {
    text-decoration: line-through;
}

.remove-underline {
    text-decoration: none;
}

/* 39 - text transform */
.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* 40 - letter spacing */
.spacing {
    letter-spacing: 5px;
}

/* 41 - fontes */

/* também se poderia escolher diretamente uma fonte específica que tenha essas características */
.serif {
    font-family: serif;
}

.sans-serif {
    font-family: sans-serif;
}

.monospace {
    font-family: monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}

/* 42 - estilos de fontes */
.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

/* 43 - font weight */
.thin, .bold, .bolder {
    font-family: Helvetica;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 900;
}

/* 44 - font size */
.small {
    font-size: 6px;
}

.big {
    font-size: 50px;
}

/* 45 - display */
.inline-box {
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

.block {
    background-color: #333;
    margin: 10px;
    display: block;
}

/* 46 - escondendo elementos */
.invisible {
    display: none;
}

/* 48 - position static */
.static {
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;
}