/* 6 - external css */

body {
    margin: 20px;
}

h3 {
    color: green;
}

/* 7 - ordem do css */

/* sobrescreveu o internal já existente */

p {
    color: brown;
}

/* 9 - comentário */
/* Comentário (sim, hilário, já tava comentando há um tempão) */

/* 11 - classes */

.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}

/* 12 - ids */

#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* 13 - ordem das regras */

h2 {
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 3px blue solid;
}

#outro-titulo {
    border-bottom: 4px solid green;
}

/* 15 - nomes de cores */

.color-name {
    color: cornflowerblue;
}

/* 16 - hex */

.hex {
    color: #55a398;
}

.hex-2 {
    color: #F26FFF;
}