/* 6 - external css */

body {
    margin: 20px;
}

h3 {
    color: green;
}

/* 7 - ordem do css */

/* sobrescreveu o internal já existente */

p {
    color: brown;
}

/* 9 - comentário */
/* Comentário (sim, hilário, já tava comentando há um tempão) */

/* 11 - classes */

.paragraph {
    background-color: black;
    color: aqua;
    padding: 5px;
}